@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

/* logo */

.logo {
    width: 128px;
    height: 128px;
}

/* container e wrapper */

.container, .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    min-height: 90vh;
    justify-content: space-between;
    padding: 2rem;
}

/* title */

.title {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
}

.text {
    font-size: 16px;
}

/* view history */
.view-history {
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
}

/* shorter */
.field {
    display: flex;

}

.input-field {
    width: 420px;
    height: 25px;
    border-radius: 8px;
    padding: 12px 24px;
    border: 2px solid #D4D4D8;
    color: #D4D4D8;
    background: transparent;
    outline: none;
    margin: 0 .5rem .5rem 0;
}

.link-button {
    width: 53px;
    height: 53px;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    transition: 0.5s;
    background: #EAB308;
}

.link-button:disabled {
    background-color: #27272A;
    cursor: none;
}

.link-button:active {
    background: #92400E;
}

.link-button:hover:not(:disabled):not(:active) {
    background-color: #FCD34D;

}